.gestione-profili-container{
    display: flex;
    margin-top: 30px;
    justify-content: center;
    width: 95%;
    height: 70vh;
    gap: 2rem;
}
.left-gestione-profili{
    width: 25%;
    border-radius: 10px;
    box-shadow: 0 0 10px 1px rgb(74, 74, 74);
}
.left-gestione-profili > select {
    border: none;
    padding: 10px 30px;
    width: 100%;
    font-size: 17px;
    border-bottom: 1px solid rgb(30, 30, 30);
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    cursor: pointer;
}
.right-gestione-profili{
    width: 65%;
}
.scheda-profili-item{
    text-decoration: none;
    color: black;
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 0rem;
}
.custom-calendar{
    width: 100% !important;
}
.scheda-profili-item:hover{
    text-decoration: underline;
}
.scheda-profili-item > p {
    padding: 3px;
    margin-left: 0px;
    background-color: white;
}
.custom-datepicker {
    width: 500px !important; 
    margin-top: 20px;
}
.custom-input{
    border-radius: 30px;
    border: none;
    padding: 20px 40px;
    font-size: 18px;
    position: relative;
    bottom: 40px;
    cursor: pointer;
    background-color: var(--secondary-color);
    color: white;
}
.select-users{
    width: 90%;
    z-index: 10;
    background-color: white;
    height: 60%;
    position: absolute;
    padding: 20px;
}
.select-users > select {
    padding: 10px 20px;
    z-index: 10;
}

@media screen and (max-width: 600px){
    .gestione-profili-container{
        flex-direction: column-reverse;
        align-items: center;
    }
    .left-gestione-profili{
        width: 90%;
    }
    .right-gestione-profili{
        width: 90%;
    }
}